.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.feature {
  padding-block: 1rem;
}

.featureTitle {
  font-size: 1.25rem;
}

.feature code {
  overflow-wrap: anywhere;
}
